/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset*/

p, a, img, .A1, .A6, .B1, .B2, .B4, .C1, .D1, .D2, .D3, .D4, .D5, .D6, .D8, .E1, .E3, .E3-1, .E3-4, .E4, .E4-1, .E4-4, .E5, .E5-1, .E5-4, .E6, .F1, .F4, .G1, .G4, .H1{
  position: absolute;
  text-decoration: none;
}
a:hover{
  color: brown;
}

.A1{
  top: 24px;
  left: 62px;
  width: 119px;
  height: 40px;
  background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
@media(max-width: 375px) {
  .A1 {
    top: 16px;
    left: 12px;
    width: 120px;
    height: 40px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}

.A2{
  top: 34px;
  left: 786px;
  width: 32px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #3A3A3A;
  opacity: 1;
}
@media(max-width: 375px) {
  .A2 {
    visibility: hidden;
  }
}

.A3 {
  top: 34px;
  left: 866px;
  width: 64px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #3A3A3A;
  opacity: 1;
}
@media(max-width: 375px) {
  .A3 {
    visibility: hidden;
  }
}

.A4 {
  top: 34px;
  left: 978px;
  width: 64px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #F9C745;
  opacity: 1;
}
@media(max-width: 375px) {
  .A4 {
    visibility: hidden;
  }
}

.A5 {
  top: 34px;
  left: 1090px;
  width: 64px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #3A3A3A;
  opacity: 1;
}
@media(max-width: 375px) {
  .A5 {
    visibility: hidden;
  }
}

.A6 {
  top: 26px;
  left: 1204px;
  width: 176px;
  height: 38px;
  background: #F9C745 0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
}
@media(max-width: 375px) {
  .A6 {
    visibility: hidden;
  }
}

.A7 {
  top: 34px;
  left: 1252px;
  width: 80px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #3A3A3A;
  opacity: 1;
}
@media(max-width: 375px) {
  .A7 {
    visibility: hidden;
  }
}
